<script>
;(function () {
    var styles=[];

    jQuery(document).ready(function($){
        // GMaps
        function initialize() {
            var mapOptions = {
                center: {
                    lat: 48.974243,
                    lng: 14.479638
                },
                disableDefaultUI: true,
                styles: styles,
                zoomControl: false,
                scaleControl: false,
                scrollwheel: false,
                // draggable: false,
                zoom: 18
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var marker = new google.maps.Marker({
                map: map,
                icon: '{{ theme.link ~ '/static/img/gmap-marker.png' }}',
                position: new google.maps.LatLng(48.974243, 14.479638),
                url: '{{ globalOptions['gmap-link'] }}'
            });

            google.maps.event.addListener(marker, 'click', function() {
                window.open(this.url, '_blank');
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    });
})();
</script>