{% if page.get_field('_custom_title') %}
    <h1 class="text-center">
        {{ page.get_field('_custom_title')|replace({'%a%': "<br class=\"show-for-large\"><a href=\"#map\"> ", '%/a%': "</a>"})|intelliCzech }}
    </h1>
{% elseif title %}
    <h1 class="text-center">
        {{ title|intelliCzech }}
    </h1>
{% elseif page.title %}
    <h1 class="text-center">
        {{ page.title|intelliCzech }}
    </h1>
{% endif %}