<div class="small-12 medium-4 column text-center medium-text-left">
    <i class="fa fa-clock-o"></i>
    {% if openingHours is empty %}
        Dnes zavřeno
    {% else %}
        Dnes otevřeno: <span style="white-space:nowrap">{{ openingHours }}</span>
    {% endif %}
</div>
<div class="small-6 medium-4 column text-center show-for-medium">
    <i class="fa fa-gift"></i>
    <a>Věnujte dárkový poukaz</a>
</div>
<div class="small-12 medium-4 column text-center medium-text-right">
    <i class="fa fa-facebook-square"></i>
    <a href="https://facebook.com/{{globalOptions['facebook']}}" target="_blank">Facebook</a>
</div>