<ul class="pagination well-bottom-4x" role="navigation" aria-label="Stránkování">
    {% if pagination.prev %}
        <li class="pagination-previous {{pagination.prev.link|length ? '' : 'disabled'}}">
            <a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">
                <span class="fa fa-angle-left"></span>
                Předchozí
            </a>
        </li>
    {% endif %}
    {% for page in pagination.pages %}
        <li>
            {% if page.link %}
                <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
            {% else %}
                <span class="current {{page.class}}">{{page.title}}</span>
            {% endif %}
        </li>
    {% endfor %}
    {% if pagination.next %}
        <li class="pagination-next">
            <a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">
                Další
                <span class="fa fa-angle-right"></span>
            </a>
        </li>
    {% endif %}
</ul>