<article class="post-preview media-object well-bottom">
    <a href="{{ post.link }}" class="post-preview__thumbnail media-object-section">
        {% if post.thumbnail.src %}
            <img src="{{ post.thumbnail.src('thumbnail') }}" alt="{{ post.title }}" width="176">
        {% else %}
            <img src="{{ theme.link ~ '/static/img/thumb.png' }}" alt="{{ post.title }}" width="176">
        {% endif %}
        <span class="post-preview__label label">{{ post.date }}</span>
    </a>
    <div class="media-object-section">
        <a href="{{ post.link }}">
            <h2 class="h3">
                {{ post.title }}
            </h2>
        </a>
        {{ post.get_preview(27, true, 'Více <i class="fa fa-angle-right"></i>')|intelliCzech }}
    </div>
</article>