{#<img src="{{ 'http://localhost/stenalanovka-cz/app/themes/nm-theme/static/img/slider/slide-2.jpg'|relative|resize(100) }}" alt="">#}

<div class="slider relative">
    <div class="no-bullet owl-carousel" data-ratio-x="2" data-ratio-y="1" data-slider-id="1">
        {% for img in imgs %}
            <div class="slider__slide" style="background-image: url('{{TimberImage(img).src|relative}}')">
            </div>
        {% endfor %}
    </div>
</div>

{% macro sliderScript(element) %}
<script>
    (function(){
        jQuery(document).ready(function() {
            var slider = $('{{ element }}');

            slider.owlCarousel({
                animateOut: 'fadeOut',
                animateIn: 'fadeIn',
                autoplay: true,
                loop:true, //loop is buggy when used with js image loading technique, ex. Foundation Interchange
                margin:0,
                nav:false,
                {#navText: ["<span>" + 'Předchozí' + "</span>", "<span>" + 'Další' + "</span>"],#}
                dots: true,
                mouseDrag: false,
                touchDrag: false,
                items:1,
                {#onInitialized: applyRatio#}
            });
            function applyRatio(event) {
                var items = slider.find('.owl-item');
                var count = items.length;
                var ratio = slider.data('ratio-y') / slider.data('ratio-x');
                var padding = ((ratio) * (100 / count));
                items.css('padding-top', padding + '%');
            }
            // padding-top: 28.125%;
        });
    })();
</script>
{% endmacro %}