{% block html_head_container %}
<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
    <meta charset="{{site.charset}}" />
    <meta name="description" content="{{site.description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ theme.link}}/favicon.ico" />
    <link rel="pingback" href="{{site.pingback_url}}" />
    {{function('wp_head')}}
    {% block head %}
    {% endblock %}
</head>
{% endblock %}

    <body class="{{body_class}}" data-template="base.twig">
        <header class="header">
            {% block header %}
                <div class="row column text-center">
                    <a class="logo" href="{{site.url}}" rel="home">
                        <img src="{{theme.link}}/static/img/logo.png" width="145" height="221" alt="{{site.name}}">
                    </a>
                </div>
            {% endblock %}
            <nav id="nav-main" class="nav-main title-bar" role="navigation">
                <div class="row column">
                    <div class="media-object no-margin">
                        <div class="media-object-section middle">
                            <button id="js-mobile-toggle" class="button secondary menu-toggle hide-for-navbreak" data-toggle="js-menu js-mobile-toggle"
                            data-toggler=".is-active">
                                MENU
                            </button>
                        </div>
                    </div>
                    <div id="js-menu" class="main-menu show-for-navbreak" data-toggler=".show-for-navbreak is-active">
                        {% include "menu.twig" with {'menu': menu.get_items} %}
                    </div>
                </div>
            </nav><!-- #nav -->
        </header>

        <section id="content" role="main" class="content-wrapper hide-overflow">
            <div class="row">
                <div class="small-12 column well-vertical-4x">
                    {% block heading %}
                        {% include 'partials/heading.twig' %}
                    {% endblock %}
                </div>
                <div class="column {% if sidebar %} medium-8 {% endif %}">
                    {% block content %}
                        Omlouváme se, ale nic tu není...
                    {% endblock %}
                </div>
                {% if sidebar %}
                    <aside class="medium-4 column sidebar">
                        {{sidebar}}
                    </aside>
                {% endif %}
            </div>
            {% block afterContent %}
            {% endblock %}
        </section>

        {% block footer %}
            <footer id="footer" class="footer color-bg-black color-txt-light-gray">
                <div id="map" class="map-extender">
                    <div class="map-responsive-adapter">
                        <div id="map-canvas">
                        </div>
                    </div>
                </div>
                {% include 'footer.twig' %}
            </footer>
        {% endblock %}
        {% block footerScripts %}
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtAJl3EpFACrTRRFAes5vAxkyZj0vtQZM"></script>
            {% include "partials/gmap-script.twig" %}
            {% include "partials/lightbox-script.twig" %}
            {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>
