<div class="row well-top">
    <div class="medium-4 column text-center medium-text-left well-bottom">
        &copy; {{"now"|date('Y')}} {{ site.name }}
    </div>
    <div class="medium-4 column madeby text-center medium-text-right well-bottom">
        Vytvořil <a href="http://www.netmagnet.cz" target="_href">NetMagnet</a>
    </div>
</div>