{% extends "base.twig" %}

{% block content %}
    <div class="well-bottom-4x">
    {% for post in posts %}
        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
    {% endfor %}
    </div>

    {% include 'partials/pagination.twig' %}
{% endblock %}