{% if menu %}
    <div class="menu-centered">
        <ul class="menu vertical navbreak-horizontal text-center">
        {% for item in menu %}
            <li class="{{item.classes | join(' ')}}">
                <a href="{{item.get_link}}">{{item.title}}</a>
                {% include "menu.twig" with {'menu': item.get_children} %}
            </li>
        {% endfor %}
        </ul>
    </div>
{% endif %}