{% extends "base.twig" %}

{% block heading %}
    <h1 class="text-center well-bottom">
        {% if post.get_field('_custom_title') is empty %}
            {{ post.title|intelliCzech }}
        {%else %}
            {{ post.get_field('_custom_title')|intelliCzech }}
        {% endif %}
    </h1>
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <div class="article-content">
                <div class="article-body">
                    {{post.content}}
                </div>
            </div>
        </div>
    </div><!-- /content-wrapper -->
{% endblock %}