{% extends "base.twig" %}

{% block heading %}
    {% if post.get_field('_custom_title') %}
        <h1 class="text-center">
            {{ post.get_field('_custom_title')|intelliCzech }}
        </h1>
    {% else %}
        <h1 class="text-center">
            {{ post.title|intelliCzech }}
        </h1>
    {% endif %}
    <p class="text-center well-bottom-2x">
        {{ post.post_date|date}}
        |
        {% if post.category.term_taxonomy_id != 1 %}
            <a href="{{ post.category.link }}">
                {{ post.category }}
            </a>
        {% else %}
            <a href="{{ articlesUrl }}">
                Články
            </a>
        {% endif %}
    </p>
{% endblock %}

{% block content %}
    <div class="content-wrapper well-bottom-4x">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="article-content well-bottom-4x">

                <div class="article-body well-top row">
                    <div class="large-8 column large-centered">
                        {{post.content}}
                    </div>
                </div>
            </section>

            {#
            <!-- comment box -->
            <section class="comment-box">
                <!-- comments -->
                <div class="comments">
                    {% if post.comments %}
                        {% for cmt in post.comments %}
                            {% include "comment.twig" with {comment:cmt} %}
                        {% endfor %}
                    {% endif %}
                </div>

                {% if post.comment_status != "closed" %}
                    <h3>Komentáře</h3>
                    {% include "comment-form.twig" %}
                {% endif %}
            </section>
            #}
        </article>
    </div><!-- /content-wrapper -->
{% endblock %}

{% block afterContent %}
    <section class="row well-top-4x">
        {% if post.prev %}
        <div class="column medium-6 {% if not post.next %}medium-centered{% endif %}">
            <hr>
            <h3>
                <a href="{{ post.prev.link }}">
                    {{ post.prev.title|intelliCzech }}
                </a>
            </h3>
            <p>{{ post.prev.get_preview(27, true, 'Více <i class="fa fa-angle-right"></i>')|intelliCzech }}</p>
        </div>
        {% endif %}
        {% if post.next %}
        <div class="column medium-6 {% if not post.prev %}medium-centered{% endif %}">
            <hr>
            <h3>
                <a href="{{ post.next.link }}">
                    {{ post.next.title|intelliCzech }}
                </a>
            </h3>
            <p>{{ post.next.get_preview(27, true, 'Více <i class="fa fa-angle-right"></i>')|intelliCzech }}</p>
        </div>
        {% endif %}
    </section>
{% endblock %}